<h1>Home Page</h1>

{{#each beds as |bed| }}

    <div>
        <h2>Bed ID: {{bed.bed_id}}</h2>
        <div>Patient Name: {{bed.patient_name}}</div>
        <div>Admit Date: {{bed.admit_date}}</div>
        <div>Dischage Date: {{bed.discharge_Date}}</div>
        <div>Doctor Name: {{bed.doctor_name}}</div>
        <div>Medical Condition: {{bed.medical_condition}}</div>
        <br>
    </div>

{{/each}}
