<h1 class="text-center text-danger border-bottom  mt-4">Home Page</h1>

{{#each beds as |bed| }}

    <div class="card bed-card mt-4 shadow">
        <h2 class="card-header bg-info text-white">Bed ID: {{bed.bed_id}}</h2>
        <div class="card-body">
            <ul class="list-group"></ul>
            <div class="list-group">Patient Name: {{bed.patient_name}}</li>
            <li class="list-group-item">Admit Date: {{bed.admit_date}}</li>
            <li class="list-group-item">Dischage Date: {{bed.discharge_Date}}</li>
            <li class="list-group-item">Doctor Name: {{bed.doctor_name}}</li>
            {{#if @root.show_History}}
                <li class="list-group-item">Medical Condition: {{bed.medical_condition}}</li>
            {{/if}}
        </div>
{{/each}}
<script src = "/js/homepage.js">
  
</script>

