<h1 class="text-center text-danger border-bottom mt-2">Home Page</h1>

<div class="d-flex flex-wrap" id="bed-card-container">
  {{#each beds as |bed| }}
    <div class="card bed-card shadow m-4" style="width: 300px;" data-index="{{bed.bed_id}}">
      <h2 class="card-header bg-info text-white">Bed ID: {{bed.bed_id}}</h2>
      <div class="card-body ">
        <ul class="list-group"></ul>
        <div class="list-group">
          <li class="list-group-item">Patient Name: {{bed.patient_name}}</li>
          <li class="list-group-item">Admit Date: {{bed.admit_date}}</li>
          <li class="list-group-item">Discharge Date: {{bed.discharge_date}}</li>
          <li class="list-group-item">Doctor Name: {{bed.doctor_name}}</li>
          {{#if @root.show_History}}
            <li class="list-group-item">Medical Condition: {{bed.medical_condition}}</li>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src = "/js/homepage.js"></script>




